<!-- footer -->
<footer>
  <div class="container">
    <div class="col-1">
      <p>
        Anchored in cultural matrices and humanistic imperatives, I valorize
        welfare beyond rhetoric; from gastronomic pluralities to sartorial
        archaism, I abide by WWHD—lucidity, foresight, and integrity in triumph
      </p>
    </div>
    <div class="links-row">
      <div class="col-2">
        <h3>Quick Links</h3>
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="about.html">About Me</a></li>
          <li><a href="though.html">Thoughts</a></li>
          <li>
            <a
              href="mailto:khushaankgupta@gmail.com?subject=Let%27s%20Connect&body=Hi%20Khushaank%2C%0D%0A%0D%0AI%20came%20across%20your%20work%20and%20thought%20it%20would%20be%20great%20to%20connect.%0D%0A%0D%0ALooking%20forward%20to%20hearing%20from%20you!%0D%0A%0D%0ABest%20regards%2C%0D%0A%5BYour%20Name%5D"
            >
              Contact</a
            >
          </li>
        </ul>
      </div>
      <div class="col-3">
        <h3>Know More of.</h3>
        <ul>
          <li><a href="icai.org" target="_blank" title="Charted Accountancy">CA</a></li>
          <li><a href="casestudies.html" target="_blank">Case Studies</a></li>
        </ul>
      </div>
    </div>
    <div class="col-4">
      <h3>Newsletter</h3>
      <form>
        <i class="far fa-envelope"></i>
        <input type="email" placeholder="Enter your email" required />
        <a
          href="mailto:?subject=subscribe%20me%20to%20newspaper&body=Hello%20Mr.%20Khushaank,%20I%20would%20like%20to%20subscribe%20to%20your%20newspaper%20newsletter.%20Thank%20you!"
          target="_blank"
          ><button><i class="fas fa-arrow-right"></i></button
        ></a>
      </form>
      <div class="social-icons">
        <a href="#"><i class="fab fa-linkedin-in"></i></a>
      </div>
    </div>
  </div>
  <div class="footer-2">
    <p>© 2025 | Made with ❤️ by Khushaank Gupta. All Rights Reserved.</p>
  </div>
</footer>
<script
  src="https://kit.fontawesome.com/b45eeaa035.js"
  crossorigin="anonymous"
></script>
